.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 10px;
  border: 2px dashed var(--color-add);
  border-radius: 10px;
  background-color: var(--color-btn-variant);
}
