.search-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 16px auto;
  background: var(--color-btn-variant);
  padding: 12px;
  border-radius: 10px;
  gap: 10px;
}

.search-container input {
  width: 100%;
  display: flex;
  background: transparent;
  outline: none;
}
